body {
    font-family: sans-serif;
    font-size: 17px;
    background-color: #fdfdfd;
}

.container{
    max-width: 1360px;
    min-height: 200vh;
    height: 100%;
    padding: 20px;

}

.home_post_card{
    width: 400px;
    margin: 20px;
}

.footer-copyright p{
    color:  #fdfdfd;
}

.form_style{
    margin-top: 1.3em;
}

.errorlist{
    list-style-type: none;
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  #inputPassword1{
    margin-bottom: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;  
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;   
  }

  #inputPassword2{
    margin-bottom: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;     
  }

  .info{
      text-align: center;
  }