body {
    font-family: sans-serif;
    font-size: 17px;
    background-color: #fdfdfd;
}

.container{
    max-width: 1360px;
    min-height: 200vh;
    height: 100%;
    padding: 20px;

}

.home_post_card{
    width: 400px;
    margin: 20px;
}

.footer-copyright p{
    color:  #fdfdfd;
}

.form_style{
    margin-top: 1.3em;
}

.errorlist{
    list-style-type: none;
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

