{% extends 'base.html' %}

{% block content %}
{% if posts %}
<div class="card-group">
    {% for post in posts %}
        <div class="home_post_card">
            <div class="card">
                <img src="{{post.image.url}}" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }} </h2>
                    <p class="card-text">{{ post.content | safe | truncatechars:80}}</p>
                    <a href="{{post.get_absolute_url}}" class="btn btn-primary">Read this post</a>
                    <hr>
                    <p class="card-text"><small class="text-muted">{{ post.author }} | {{ post.date_published }}</small></p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endif %}


{% endblock content %}


