{% extends 'base.html' %}

{% block content %}
{% if posts %}
<div class="row">
    {% for post in posts %}
    <div class="col-md-8 card mb-4  mt-3 left  top">
        <a href="{{post.get_absolute_url}}" style="text-decoration: none; color: inherit">
            <div class="card-body">
                <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
                <p class=" text-muted">{{ post.author }} | {{ post.date_published }}</p>
                <img src="{{post.image.url}}">
                <p class="card-text ">{{ post.content | safe }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}
