{% extends 'base.html' %}

{% block content %}

<form class="form-signin" method="POST">{% csrf_token %}
	
	<h1 class="h3 mb-3 font-weight-normal">Log In</h1>
	<input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
	<input type="password" name ="password" class="form-control" placeholder="Password" required>

	<p class="errorlist">{{form.non_field_errors}}</p>

	{% for field in form %}

		<p class="errorlist">{{field.errors}}</p>

	{% endfor %}

	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<p class="info">If you don't have an account, register <a href="{% url 'account:register' %}">here</a>.</p>
<small class="info"><a href="{% url 'account:password_reset' %}">Forgot password?</a></small>
{% endblock content %}
